# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_copy

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configurations and IDE settings
# You may want to check in launch.json, but usually, it's ignored
.vscode/

# Flutter/Dart related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android related
**/android/app/src/main/res/generated/
**/android/key.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/App.podspec
**/ios/Flutter/App.podspec.json
**/ios/.generated/
**/ios/Pods/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner/GeneratedPluginRegistrant.swift
**/ios/DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Executable distributions
*.apk
*.aab
*.ex_
*.exe
*.dll
*.so
*.dylib
*.ipa
*.app

# Sensitive files (API Keys, Firebase configs)
# Uncomment these if you want to ensure they aren't committed
# ios/Runner/GoogleService-Info.plist
# android/app/google-services.json
# .env*
